.Game {
  display: grid;
  place-items: center;
}

.Header {
  display: flex;
}

.Panel {
  background: #fff;
  border: 2px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: 2px;
  margin-top: 2px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.right-panel {
  background: greenyellow;
  border: 2px solid greenyellow;
  color: #fff;
}

.wrong-panel {
  background: gray;
  border: 2px solid gray;
  color: #fff;
}

.close-panel {
  background: gold;
  border: 2px solid gold;
  color: #fff;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
